{
  "openapi": "3.1.0",
  "info": {
    "title": "Baton Cloud API",
    "version": "1.0.0-alpha.3",
    "description": "Versioned transport contract for normalized Baton conversation events."
  },
  "servers": [
    {
      "url": "https://api.baton.dev"
    }
  ],
  "paths": {
    "/v1/auth/web/login": {
      "get": {
        "operationId": "beginWebLogin",
        "summary": "Redirect a browser to the configured OIDC provider",
        "parameters": [
          {
            "name": "returnTo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the identity provider.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "Hosted web identity is not configured.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/web/callback": {
      "get": {
        "operationId": "completeWebLogin",
        "summary": "Complete OIDC login and establish a browser session",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          }
        ],
        "responses": {
          "302": {
            "description": "The browser session was established.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Set-Cookie": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The login state or authorization code is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "The identity provider rejected login.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/device/approve": {
      "post": {
        "operationId": "approveDeviceAuthorization",
        "summary": "Approve a displayed device code from a browser session",
        "security": [
          {
            "BrowserSession": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceApprovalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The device was approved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceApprovalResponse"
                }
              }
            }
          },
          "400": {
            "description": "The user code is invalid or expired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid browser session is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "409": {
            "description": "The device grant was already completed.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Revoke the current browser session or device",
        "security": [
          {
            "BatonOAuth": []
          },
          {
            "BrowserSession": []
          }
        ],
        "responses": {
          "204": {
            "description": "The current credential was revoked."
          },
          "401": {
            "description": "A valid session or access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/device/authorize": {
      "post": {
        "operationId": "beginDeviceAuthorization",
        "summary": "Begin OAuth device authorization for a CLI",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device authorization was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceAuthorizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "The authorization request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "Too many authorization attempts.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "operationId": "exchangeDeviceOrRefreshToken",
        "summary": "Exchange a device code or rotate a refresh token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens were issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "The grant is invalid or still pending.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "The device grant was denied or expired.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The client is polling too quickly.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices": {
      "get": {
        "operationId": "listDevices",
        "summary": "List devices registered to the current account",
        "security": [
          {
            "BatonOAuth": ["devices:read"]
          },
          {
            "BrowserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Registered devices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceList"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the devices:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account": {
      "get": {
        "operationId": "getCurrentAccount",
        "summary": "Read the authenticated account and tenant identity",
        "security": [
          {
            "BatonOAuth": ["account:read"]
          },
          {
            "BrowserSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "The authenticated account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "description": "A valid session or access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the account:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/devices/{deviceId}": {
      "delete": {
        "operationId": "revokeDevice",
        "summary": "Revoke one device and all of its credentials",
        "security": [
          {
            "BatonOAuth": ["devices:write"]
          },
          {
            "BrowserSession": []
          }
        ],
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The device was revoked."
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the devices:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The device was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects visible to the current account",
        "security": [
          {
            "BatonOAuth": ["projects:read"]
          }
        ],
        "responses": {
          "200": {
            "description": "Cloud projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create an explicitly enabled cloud project",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The project was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "The project request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "409": {
            "description": "An equivalent project already exists.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}": {
      "patch": {
        "operationId": "updateProject",
        "summary": "Update project state or collection policy",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The project was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "The project update is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/consents": {
      "get": {
        "operationId": "listProjectConsents",
        "summary": "List consent history for a project",
        "security": [
          {
            "BatonOAuth": ["projects:read"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project consent records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentList"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "recordProjectConsent",
        "summary": "Record affirmative project collection consent",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Consent was recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentRecord"
                }
              }
            }
          },
          "400": {
            "description": "The consent record is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "409": {
            "description": "The disclosure or collection policy is stale.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/consents/{consentRecordId}": {
      "delete": {
        "operationId": "revokeProjectConsent",
        "summary": "Revoke collection consent for one project installation",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "consentRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Consent was revoked or was already revoked."
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project or consent was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingestion/batches": {
      "post": {
        "operationId": "ingestEventBatch",
        "summary": "Idempotently ingest normalized source events",
        "security": [
          {
            "BatonOAuth": ["ingest:write"]
          }
        ],
        "parameters": [
          {
            "name": "Content-Encoding",
            "in": "header",
            "required": false,
            "description": "Use gzip for bounded compressed ingestion; identity is accepted for small batches.",
            "schema": {
              "type": "string",
              "enum": ["identity", "gzip"],
              "default": "identity"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngestionBatch"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The batch was accepted or previously ingested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestionAcknowledgement"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ingestion request.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the ingest:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "409": {
            "description": "The source checkpoint has diverged.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "413": {
            "description": "The ingestion batch is too large.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "415": {
            "description": "The content encoding is not supported.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "429": {
            "description": "The ingestion rate limit was exceeded.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ingestion/checkpoint": {
      "get": {
        "operationId": "getIngestionCheckpoint",
        "summary": "Read the authenticated device checkpoint for one source",
        "security": [
          {
            "BatonOAuth": ["ingest:write"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "projectInstallationId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sourceSessionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current source checkpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestionCheckpoint"
                }
              }
            }
          },
          "204": {
            "description": "No checkpoint has been recorded."
          },
          "400": {
            "description": "The checkpoint query is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the ingest:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project installation was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/work-threads": {
      "get": {
        "operationId": "listWorkThreads",
        "summary": "List work threads in a project",
        "security": [
          {
            "BatonOAuth": ["work:read"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project work threads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkThreadList"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the work:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkThread",
        "summary": "Create a work thread",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkThreadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The work thread was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkThread"
                }
              }
            }
          },
          "400": {
            "description": "The work-thread request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/work-threads/{workThreadId}": {
      "patch": {
        "operationId": "updateWorkThread",
        "summary": "Rename a work thread or change its goal or state",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "parameters": [
          {
            "name": "workThreadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkThreadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The work thread was updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkThread"
                }
              }
            }
          },
          "400": {
            "description": "The work-thread update is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The work thread was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/work-threads/{workThreadId}/overview": {
      "get": {
        "operationId": "getWorkThreadOverview",
        "summary": "Read the materialized current state of a work thread",
        "security": [
          {
            "BatonOAuth": ["work:read"]
          }
        ],
        "parameters": [
          {
            "name": "workThreadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The materialized work-thread state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkThreadOverview"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the work:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The work thread was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/work-threads/{workThreadId}/sessions": {
      "get": {
        "operationId": "listWorkThreadSessions",
        "summary": "List the source sessions assigned to a work thread",
        "security": [
          {
            "BatonOAuth": ["work:read"]
          }
        ],
        "parameters": [
          {
            "name": "workThreadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The assigned source sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkThreadSessionList"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the work:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The work thread was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "assignWorkThreadSession",
        "summary": "Assign a source session to a work thread",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "parameters": [
          {
            "name": "workThreadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignWorkThreadSessionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The source session was assigned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkThreadSession"
                }
              }
            }
          },
          "400": {
            "description": "The assignment request is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The work thread or source session was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "409": {
            "description": "The source session is already assigned to another thread.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/work-threads/{workThreadId}/sessions/{sourceSessionId}": {
      "delete": {
        "operationId": "removeWorkThreadSession",
        "summary": "Remove a source session from a work thread",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "parameters": [
          {
            "name": "workThreadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sourceSessionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The source session was removed or was not present."
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The work thread was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/work-threads/{workThreadId}/events": {
      "get": {
        "operationId": "readWorkThreadEvents",
        "summary": "Read a bounded page of normalized work-thread events",
        "security": [
          {
            "BatonOAuth": ["work:read"]
          }
        ],
        "parameters": [
          {
            "name": "workThreadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2048
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of normalized events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventReadback"
                }
              }
            }
          },
          "400": {
            "description": "The read cursor or limit is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the work:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The work thread was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/source-sessions": {
      "get": {
        "operationId": "listProjectSourceSessions",
        "summary": "List captured source sessions in a project",
        "security": [
          {
            "BatonOAuth": ["work:read"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Captured source sessions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceSessionList"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the work:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/reindex": {
      "post": {
        "operationId": "reindexProject",
        "summary": "Materialize the retrieval chunk index for a project",
        "security": [
          {
            "BatonOAuth": ["projects:write"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The project retrieval index was refreshed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectReindexResult"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the projects:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/retrieval/search": {
      "get": {
        "operationId": "searchRetrieval",
        "summary": "Lexically search normalized chunks within a project",
        "security": [
          {
            "BatonOAuth": ["work:read"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "workThreadId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked retrieval chunks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievalResult"
                }
              }
            }
          },
          "400": {
            "description": "The search query is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the work:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/work-threads/{workThreadId}/context": {
      "get": {
        "operationId": "compileWorkThreadContext",
        "summary": "Compile a budgeted, cited continuation context for a thread",
        "security": [
          {
            "BatonOAuth": ["work:read"]
          }
        ],
        "parameters": [
          {
            "name": "workThreadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          },
          {
            "name": "tokenBudget",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 64,
              "maximum": 8000,
              "default": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A compiled thread bootstrap and cited evidence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadContext"
                }
              }
            }
          },
          "400": {
            "description": "The context query is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the work:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The work thread was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/thread-suggestions": {
      "get": {
        "operationId": "suggestProjectThreads",
        "summary": "Rank existing work threads a source session may continue",
        "security": [
          {
            "BatonOAuth": ["work:read"]
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sourceSessionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked work-thread suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadSuggestionList"
                }
              }
            }
          },
          "400": {
            "description": "The suggestion query is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the work:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The project or source session was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memory/candidates": {
      "get": {
        "operationId": "listMemoryCandidates",
        "summary": "List personal memory candidates awaiting review",
        "security": [
          {
            "BatonOAuth": ["memory:write"]
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["proposed", "needs_review", "approved", "rejected"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Memory candidates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryCandidateList"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the memory:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "proposeMemory",
        "summary": "Propose a personal memory candidate from evidence",
        "security": [
          {
            "BatonOAuth": ["memory:write"]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposeMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The validated candidate (which may be rejected).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryCandidate"
                }
              }
            }
          },
          "400": {
            "description": "The proposal is invalid.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the memory:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memory/candidates/{candidateId}/approve": {
      "post": {
        "operationId": "approveMemory",
        "summary": "Approve a candidate into an evidence-backed memory",
        "security": [
          {
            "BatonOAuth": ["memory:write"]
          }
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The approved memory.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Memory"
                }
              }
            }
          },
          "400": {
            "description": "The claim is a prohibited sensitive inference.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the memory:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The candidate was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "409": {
            "description": "The candidate cannot be approved.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memory/candidates/{candidateId}/reject": {
      "post": {
        "operationId": "rejectMemory",
        "summary": "Reject a memory candidate",
        "security": [
          {
            "BatonOAuth": ["memory:write"]
          }
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The candidate was rejected."
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the memory:write scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "404": {
            "description": "The candidate was not found.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memory/memories": {
      "get": {
        "operationId": "listApprovedMemories",
        "summary": "List approved, unexpired personal memories",
        "security": [
          {
            "BatonOAuth": ["memory:read"]
          }
        ],
        "responses": {
          "200": {
            "description": "Approved memories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryList"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the memory:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memory/soul": {
      "get": {
        "operationId": "renderSoul",
        "summary": "Render approved memories as a budgeted SOUL document",
        "security": [
          {
            "BatonOAuth": ["memory:read"]
          }
        ],
        "parameters": [
          {
            "name": "tokenBudget",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 64,
              "maximum": 8000,
              "default": 2000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The rendered SOUL document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SoulDocument"
                }
              }
            }
          },
          "401": {
            "description": "A valid bearer access token is required.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          },
          "403": {
            "description": "The access token is missing the memory:read scope.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiProblem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BrowserSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-baton_session",
        "description": "Secure, HTTP-only hosted dashboard session."
      },
      "BatonOAuth": {
        "type": "oauth2",
        "description": "OAuth 2.0 bearer access token issued to a Baton CLI or web client.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://app.baton.dev/oauth/authorize",
            "tokenUrl": "https://api.baton.dev/oauth/token",
            "scopes": {
              "account:read": "Read the current Baton account.",
              "devices:read": "List registered Baton devices.",
              "devices:write": "Rename or revoke registered Baton devices.",
              "projects:read": "Read explicitly enabled cloud projects.",
              "projects:write": "Create projects and manage collection consent.",
              "ingest:write": "Upload normalized events for enabled projects.",
              "work:read": "Read work threads and normalized evidence.",
              "memory:read": "Read approved personal memories.",
              "memory:write": "Propose, approve, edit, and revoke personal memories."
            }
          }
        }
      }
    },
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "tenantId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "email": {
            "type": "string",
            "format": "email",
            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "currentDeviceId": {
            "anyOf": [
              {
                "type": "string",
                "format": "uuid",
                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "userId",
          "tenantId",
          "email",
          "displayName",
          "currentDeviceId"
        ],
        "additionalProperties": false
      },
      "DeviceAuthorizationRequest": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "clientName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "clientVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "platform": {
            "default": "unknown",
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "requestedScopes": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "account:read",
                "devices:read",
                "devices:write",
                "projects:read",
                "projects:write",
                "ingest:write",
                "work:read",
                "memory:read",
                "memory:write"
              ]
            }
          }
        },
        "required": [
          "clientId",
          "clientName",
          "clientVersion",
          "platform",
          "requestedScopes"
        ],
        "additionalProperties": false
      },
      "DeviceAuthorizationResponse": {
        "type": "object",
        "properties": {
          "deviceCode": {
            "type": "string",
            "minLength": 32,
            "maxLength": 512
          },
          "userCode": {
            "type": "string",
            "minLength": 6,
            "maxLength": 32
          },
          "verificationUri": {
            "type": "string",
            "format": "uri"
          },
          "verificationUriComplete": {
            "type": "string",
            "format": "uri"
          },
          "expiresIn": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 1800
          },
          "interval": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 30
          }
        },
        "required": [
          "deviceCode",
          "userCode",
          "verificationUri",
          "verificationUriComplete",
          "expiresIn",
          "interval"
        ],
        "additionalProperties": false
      },
      "DeviceApprovalRequest": {
        "type": "object",
        "properties": {
          "userCode": {
            "type": "string",
            "minLength": 6,
            "maxLength": 32
          }
        },
        "required": ["userCode"],
        "additionalProperties": false
      },
      "DeviceApprovalResponse": {
        "type": "object",
        "properties": {
          "approved": {
            "type": "boolean",
            "const": true
          },
          "deviceName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        },
        "required": ["approved", "deviceName"],
        "additionalProperties": false
      },
      "TokenRequest": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "grantType": {
                "type": "string",
                "const": "urn:ietf:params:oauth:grant-type:device_code"
              },
              "clientId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "deviceCode": {
                "type": "string",
                "minLength": 32,
                "maxLength": 512
              }
            },
            "required": ["grantType", "clientId", "deviceCode"],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "grantType": {
                "type": "string",
                "const": "refresh_token"
              },
              "clientId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "refreshToken": {
                "type": "string",
                "minLength": 32,
                "maxLength": 2048
              }
            },
            "required": ["grantType", "clientId", "refreshToken"],
            "additionalProperties": false
          }
        ]
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "tokenType": {
            "type": "string",
            "const": "Bearer"
          },
          "accessToken": {
            "type": "string",
            "minLength": 32
          },
          "expiresIn": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "refreshToken": {
            "type": "string",
            "minLength": 32
          },
          "scopes": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "account:read",
                "devices:read",
                "devices:write",
                "projects:read",
                "projects:write",
                "ingest:write",
                "work:read",
                "memory:read",
                "memory:write"
              ]
            }
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "tenantId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "deviceId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          }
        },
        "required": [
          "tokenType",
          "accessToken",
          "expiresIn",
          "refreshToken",
          "scopes",
          "userId",
          "tenantId",
          "deviceId"
        ],
        "additionalProperties": false
      },
      "Device": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "platform": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "clientVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "lastSeenAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "revokedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "deviceId",
          "name",
          "platform",
          "clientVersion",
          "createdAt",
          "lastSeenAt",
          "revokedAt"
        ],
        "additionalProperties": false
      },
      "DeviceList": {
        "type": "object",
        "properties": {
          "devices": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "deviceId": {
                  "type": "string",
                  "format": "uuid",
                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                },
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "platform": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 64
                },
                "clientVersion": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 64
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "lastSeenAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "revokedAt": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "date-time",
                      "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              },
              "required": [
                "deviceId",
                "name",
                "platform",
                "clientVersion",
                "createdAt",
                "lastSeenAt",
                "revokedAt"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": ["devices"],
        "additionalProperties": false
      },
      "Project": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "state": {
            "type": "string",
            "enum": ["enabled", "paused", "disabled"]
          },
          "collectionPolicy": {
            "type": "object",
            "properties": {
              "policyVersion": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "allowedCategories": {
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "conversation_text",
                    "plans_and_tasks",
                    "command_arguments",
                    "tool_results",
                    "file_paths",
                    "diffs",
                    "session_metadata"
                  ]
                }
              },
              "excludedPathPatterns": {
                "maxItems": 200,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 512
                }
              },
              "maxToolResultBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1048576
              },
              "maxDiffBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1048576
              }
            },
            "required": [
              "policyVersion",
              "allowedCategories",
              "excludedPathPatterns",
              "maxToolResultBytes",
              "maxDiffBytes"
            ],
            "additionalProperties": false
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "projectId",
          "displayName",
          "state",
          "collectionPolicy",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "ProjectList": {
        "type": "object",
        "properties": {
          "projects": {
            "maxItems": 500,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "projectId": {
                  "type": "string",
                  "format": "uuid",
                  "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                },
                "displayName": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "state": {
                  "type": "string",
                  "enum": ["enabled", "paused", "disabled"]
                },
                "collectionPolicy": {
                  "type": "object",
                  "properties": {
                    "policyVersion": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64
                    },
                    "allowedCategories": {
                      "minItems": 1,
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "conversation_text",
                          "plans_and_tasks",
                          "command_arguments",
                          "tool_results",
                          "file_paths",
                          "diffs",
                          "session_metadata"
                        ]
                      }
                    },
                    "excludedPathPatterns": {
                      "maxItems": 200,
                      "type": "array",
                      "items": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 512
                      }
                    },
                    "maxToolResultBytes": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 1048576
                    },
                    "maxDiffBytes": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 1048576
                    }
                  },
                  "required": [
                    "policyVersion",
                    "allowedCategories",
                    "excludedPathPatterns",
                    "maxToolResultBytes",
                    "maxDiffBytes"
                  ],
                  "additionalProperties": false
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                }
              },
              "required": [
                "projectId",
                "displayName",
                "state",
                "collectionPolicy",
                "createdAt",
                "updatedAt"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": ["projects"],
        "additionalProperties": false
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "collectionPolicy": {
            "type": "object",
            "properties": {
              "policyVersion": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "allowedCategories": {
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "conversation_text",
                    "plans_and_tasks",
                    "command_arguments",
                    "tool_results",
                    "file_paths",
                    "diffs",
                    "session_metadata"
                  ]
                }
              },
              "excludedPathPatterns": {
                "maxItems": 200,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 512
                }
              },
              "maxToolResultBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1048576
              },
              "maxDiffBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1048576
              }
            },
            "required": [
              "policyVersion",
              "allowedCategories",
              "excludedPathPatterns",
              "maxToolResultBytes",
              "maxDiffBytes"
            ],
            "additionalProperties": false
          }
        },
        "required": ["displayName", "collectionPolicy"],
        "additionalProperties": false
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "state": {
            "type": "string",
            "enum": ["enabled", "paused", "disabled"]
          },
          "collectionPolicy": {
            "type": "object",
            "properties": {
              "policyVersion": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "allowedCategories": {
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "conversation_text",
                    "plans_and_tasks",
                    "command_arguments",
                    "tool_results",
                    "file_paths",
                    "diffs",
                    "session_metadata"
                  ]
                }
              },
              "excludedPathPatterns": {
                "maxItems": 200,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 512
                }
              },
              "maxToolResultBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1048576
              },
              "maxDiffBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1048576
              }
            },
            "required": [
              "policyVersion",
              "allowedCategories",
              "excludedPathPatterns",
              "maxToolResultBytes",
              "maxDiffBytes"
            ],
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "CreateConsentRequest": {
        "type": "object",
        "properties": {
          "projectInstallationId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "disclosureVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "disclosureDigest": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "collectionPolicy": {
            "type": "object",
            "properties": {
              "policyVersion": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "allowedCategories": {
                "minItems": 1,
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "conversation_text",
                    "plans_and_tasks",
                    "command_arguments",
                    "tool_results",
                    "file_paths",
                    "diffs",
                    "session_metadata"
                  ]
                }
              },
              "excludedPathPatterns": {
                "maxItems": 200,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 512
                }
              },
              "maxToolResultBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1048576
              },
              "maxDiffBytes": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1048576
              }
            },
            "required": [
              "policyVersion",
              "allowedCategories",
              "excludedPathPatterns",
              "maxToolResultBytes",
              "maxDiffBytes"
            ],
            "additionalProperties": false
          },
          "cloudProcessingAcknowledged": {
            "type": "boolean",
            "const": true
          },
          "modelProcessingAcknowledged": {
            "type": "boolean",
            "const": true
          },
          "captureSurface": {
            "type": "string",
            "enum": ["cli", "dashboard"]
          },
          "historicalImport": {
            "default": false,
            "type": "boolean"
          }
        },
        "required": [
          "projectInstallationId",
          "disclosureVersion",
          "disclosureDigest",
          "collectionPolicy",
          "cloudProcessingAcknowledged",
          "modelProcessingAcknowledged",
          "captureSurface",
          "historicalImport"
        ],
        "additionalProperties": false
      },
      "ConsentRecord": {
        "type": "object",
        "properties": {
          "consentRecordId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "projectId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "projectInstallationId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "deviceId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "disclosureVersion": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "disclosureDigest": {
            "type": "string",
            "pattern": "^[a-f0-9]{64}$"
          },
          "collectionPolicy": {
            "type": "object",
            "properties": {
              "policyVersion": {
                "type": "string",
[...]
